img {
    height: 70px;
    width: 100px;
}



#div1, #div2, #div3, #div4, #div5 {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.imagem, .produto {
    width: 100px;
    height: 100px;
    display: inline-block;
}
