img {
    width: 100px;
    height: 70px;
    object-fit: cover;
}

.menu {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 300px;
    max-height: 0; /* Inicialmente, ocultamos a lista de itens */
    overflow: hidden;
    transition: max-height 0.3s ease; /* Adicionamos uma transição suave */
}