.container {
    display: flex;
    justify-content: center;
}

.order-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
}

.order-details h2 {
    margin-top: 0;
}

.order-details fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.order-details p {
    margin: 0;
    padding: 5px 0;
}

.order-details button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.order-details button:hover {
    background-color: #0056b3;
}